<!DOCTYPE html>
<html lang="en">

<head>
    <title>All commands of Kiwii</title>
</head>

<body>
    <a href="/"><img class="avatar"
            src="https://cdn.discordapp.com/attachments/772106096713924671/807975843548626944/anime-original-brown-hair-girl-green-eyes-hd-wallpaper-preview.png"
            alt="Bot avatar"></a>
    <section class="main-content">
        <p>To get a look of the commands in discord, use <code>m?help</code> to view the commands</p>

        <% commands.forEach(({ name, value })=> { %>
            <table style="width: 100%;">
                <h1 style="text-align: center;">
                    <%= name %>
                </h1>
                <tr>
                    <th>Command Name</th>
                    <th>Utilisation</th>
                    <th>Description</th>
                    <th>Aliases</th>
                </tr>
                <% value.forEach(({ name, description, aliases, utilisation })=> { %>
                    <tr>
                        <td>
                            <%= name%>
                        </td>
                        <td>
                            <%= utilisation%>
                        </td>
                        <td>
                            <%= description%>
                        </td>
                        <td>
                            <%= typeof aliases==='string' ? aliases : aliases.join(', ')%></td>
                        </tr>
                   <% }) %>
                </table>
            <%}) %>
        </section>
    </body>

    <style>
        table{
            border-collapse: collapse;
            border-spacing: 0;
        }
        * {
            box-sizing: border-box;
        }
        body{
            padding: 0;
            margin: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #606c71;
        }
        .main-content{
            word-wrap: break-word;
        }

        @media screen and (min-width: 42em) and (min-width: 64em){
            .main-content{
                padding: 2rem 4rem;
                font-size: 1.1rem;
            }
        }

        @media screen and (min-width: 42em){
            .main-content{
                padding: 2rem 1rem;
                font-size: 1rem;
            }
        }

        .main-content h1,
        .main-content h2,
        .main-content h3,
        .main-content h4,
        .main-content h5,
        .main-content h6 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-weight: normal;
            color: #159957;
        }

        .main-content code {
            padding: 2px 4px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

        }
        .main-content table th,
        .main-content table td {
            padding: 0.5rem 1rem;
            border: 1px solid #e9ebec;
        }
        .avatar{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #4caf50;
        border-radius: 100%;
        width: 20%;
        height: 20%;
        -webkit-transform: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
        }
        .avatar:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        body{
        background-color: #2c2f33;
    }
    
    
    </style>
</html>